<a href="/static_pages/profilepage"><%= image_tag "foodPartyHouse.jpg", class: "img-rounded" %>

<h3>Aaron Cruz's</a></h3> <h2>Frühlingsbälle <small><br>Samstag, 11 April 2015</small></h2>
 </h2>
<p class="description">"Ich habe 5kg leckeres hartes Brot und möchte mit euch den Frühlingsanfang celebrieren und gemeinsam Knödel machen."</p>

<div class="container formulario">

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->

<!-- File Button --><h2>Foto Hochladen</h2>
<div class="row row-centered">
  <div class="col-xs-2 col-centered col-fixed">
<div class="control-group">
  <label class="control-label" for="filebutton"></label>
  <div class="controls">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>
</div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="textarea"><h2>Was bringst du mit? (erforderlich)</h2></label>
  <div class="controls">
     <input type="text" class="form-control" placeholder="z.B. Fantastischer alte Käse, Bananen, abgelaufene Milch, etc.">
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="checkboxes"><h2>Ich helfe mit...</h2></label>
  <div class="controls">
    <label class="checkbox" for="checkboxes-0">
      <input name="checkboxes" id="checkboxes-0" value="Option one" type="checkbox">
      Kochen
    </label>
    <label class="checkbox" for="checkboxes-1">
      <input name="checkboxes" id="checkboxes-1" value="Option two" type="checkbox">
      Aufräumen
    </label>
    <label class="checkbox" for="checkboxes-1">
      <input name="checkboxes" id="checkboxes-1" value="Option three" type="checkbox">
      Getränke
    </label>
  </div>

  <br>

  </br>

  <div class="btn-group" role="group" aria-label="...">

  <a href="event_attending" class="btn btn-success mach-mit">Ich komme!</a>

</div>
</div>

</fieldset>
</form>
</div>


<div class="row row-centered">
  <h2>Wer kommt:</h2>
</div>


<div class="row row-centered">
  <div class="col-xs-small col-centered col-fixed">
    <%= image_tag "bandc.jpg", class: "img-rounded", :width => 100, :height => 100 %>
  </div>
  <div class="col-xs-small col-centered col-fixed">
    <%= image_tag "Shelly.jpg", class: "img-rounded", :width => 100, :height => 100 %>
  </div>
  <div class="col-xs-2 col-centered col-fixed">
    <h4>Shelly bringt:</h4>
    <p>Karfiol und Brokoli</p>
  </div>
  <div class="col-xs-2 col-centered col-fixed">
    <h4>Ich helfe mit:</h4>
    <ul>
      <li>Kochen</li>
    </ul>
  </div>
</div>


<div class="row row-centered">
  <div class="col-xs-small col-centered col-fixed">
    <%= image_tag "carrots.jpg", class: "img-rounded", :width => 100, :height => 100 %>
  </div>
  <div class="col-xs-small col-centered col-fixed">
    <%= image_tag "Ramon.jpg", class: "img-rounded", :width => 100, :height => 100 %>
  </div>
  <div class="col-xs-2 col-centered col-fixed">
    <h4>Ramon bringt:</h4>
    <p>Eine Kiste Karotten</p>
  </div>
  <div class="col-xs-2 col-centered col-fixed">
    <h4>Ich helfe mit:</h4>
    <ul>
      <li>Kochen</li>
    </ul>
  </div>
</div>

<div class="row row-centered">
  <div class="col-xs-small col-centered col-fixed">
    <%= image_tag "celery.jpg", class: "img-rounded", :width => 100, :height => 100 %>
  </div>
  <div class="col-xs-small col-centered col-fixed">
    <%= image_tag "Igor.jpg", class: "img-rounded", :width => 100, :height => 100 %>
  </div>
  <div class="col-xs-2 col-centered col-fixed">
    <h4>Igor bringt:</h4>
    <p>2 Bund Sellerie</p>
  </div>
  <div class="col-xs-2 col-centered col-fixed">
    <h4>Ich helfe mit:</h4>
    <ul>
      <li>Kochen</li>
    </ul>
  </div>
</div>
