<a href="/static_pages/profilepage"><%= image_tag "foodPartyHouse.jpg", class: "img-rounded" %>
<h3>Aaron Cruz's</a></h3> <h2>Frühlingsball</h2> <small><br>Samstag, 11 April 2015</small> <a href="/static_pages/flogin" class="btn btn-primary" role="button">Mach mit!</a> </h2>

<div class="row">
<br><br>
<%= image_tag "bandc.jpg", class: "img-rounded", :width => 100, :height => 100 %> <%= image_tag "Shelly.jpg", class: "img-rounded", :width => 100, :height => 100 %>
Karfiol und Brokoli
</div>

<div class="row">
<br><br>
<%= image_tag "carrots.jpg", class: "img-rounded", :width => 100, :height => 100 %> <%= image_tag "Ramon.jpg", class: "img-rounded", :width => 100, :height => 100 %>
Eine Kiste Karotten
</div>

<div class="row">
<br><br>
<%= image_tag "celery.jpg", class: "img-rounded", :width => 100, :height => 100 %> <%= image_tag "Igor.jpg", class: "img-rounded", :width => 100, :height => 100 %>
2 Bund Sellerie
</div>
